<manifest package="kr.co.huve.autotouchmanager"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="kr.co.huve.AutoTouchManagerLib.TouchSimulateService"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
